*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contianer{
    max-width: 1200px;
    padding: 16px 0;
}

.wrapper{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 40px;
}

.boxes{
    height: 200px;
    border: 2px solid gray;
}

.boxes:nth-child(3){
    grid-column-start: 5;
    grid-column-end: 6;
}
